body {
	font-family: 'Signika', Avenir, Arial, Helvetica;
	background-color: #364a4e;
}

header{
	text-align: center;
	margin: 3em 0 0 0;
	padding-bottom:;
}

h1 {
	font-family: 'Righteous', sans-serif;
	font-size: 4.25em;
	color: #91bf5b;
	text-shadow: -0.04em 0.04em #364a4e, -0.09em 0.09em #29383c;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

a:link {
	color:#B26735;
}

a:visited {
	color:#222A2D;
}

.content-main {
	width: 85%;
	margin: 0 auto;
	color: #FFF;
}

.content-main p{
	text-align: center;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin-top:0;
	color: #BED2A2;
}

form {
	background-color:#2E4147;
	padding:3em 0;
	border-radius:9px;
	margin: 1em auto;
	text-align: center;
	color: #fff;
}


label input[type="file"] {
    position: fixed;
    top: -1000px;
}


label input[type="file"] {
    position: fixed;
    top: -1000px;
}

/* Button custom styling */
.upload{
    border-radius: 5px;
    padding: 0.75em 1.25em;
    margin: 0 0 1em 0;
    display: inline-block;
	background: #B26735;
	box-shadow: 0px 3px 0px #804A26;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	letter-spacing:0.01em;
	font-size: 1.25em;
}

.upload:hover, .upload:active {
	background-color: #A55D2F;

}

footer {
	font-size:0.85em;
	width: 100%;
	text-align: center;
	color: #222A2D;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}