{% extends "layout.html" %}
{% block body %}
<header>
	<h1>Iconer</h1>
</header>

<div class="content-main">
	<p>Upload a design file to generate icons in all the sizes you need for iOS 7.</p>

	<form method='POST' enctype=multipart/form-data action='/'>
		 <label class="upload"><input type='file' name='image' onchange='javascript:this.form.submit();'>Choose File...</label><br/>
		 <label><input type='checkbox' name='use_apple_names' value='use_apple_names' checked>Use Apple naming convention</label>
	</form>

	<p>We don't keep your images.</p>
</div>

<footer>
	Made in the USA by Work for Pizza Inc.
</footer>
{% endblock %}
