{% extends "layout.html" %}
{% block body %}
<header>
	<h1>Iconer</h1>
</header>

<div class="content-main">
	<p>Get all the app icon sizes for iOS</p>

	<form method='POST' enctype=multipart/form-data action='/'>
		 <label class="upload"><input type='file' name='image' onchange='javascript:this.form.submit();'>Upload Image</label><br/>
		 <label><input type='checkbox' name='use_apple_names' value='use_apple_names' checked>Use Apple naming convention</label>
	</form>

</div>

<footer>
	<p>We don't keep your images.<br/>

	Made in the USA by Work for Pizza Inc.</p>
</footer>
{% endblock %}
